#recap-banner {
    background-color: lavender!important;
    flex-basis: 100%;
    padding: 30px 20px;
    font-size: 18px;
    border-radius: 8px;

    strong {
        font-size: 20px;
        font-weight: bold;
        color: #4183c4;
    }

    span {
        color: #4183c4;
    }
}

.plaid-buttons {
    text-align: right;
    padding: 10px 50px 0;

    button {
        width: 100px;
        margin: 0 10px;
        height: 30px;
        padding: 6px 4px;
        outline: none;
        background: rgb(255, 255, 255);
        border: 2px solid rgb(241, 241, 241);
        border-radius: 4px;
        cursor: pointer;
        pointer-events: all;

        &:hover {
            background-color: darken(rgb(255, 255, 255),10);
        }
    }
}

.btn-subtle {
    border: none;
    cursor: pointer;
    transition: all 0.3s;

    &:hover { transform: scale(.9)}
    &:focus {outline:0;}
}

.stat-card {
    h4, p { margin: 0;}
    .ui.progress { margin: 20px 0 0;}
}

.dashboard-main {
    // border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .box-sixty {
        flex-basis: 58%;
    }
    .box-eighty {
        flex-basis: 78%;
    }
    .box-half {
        flex-basis: 48%;
    }
    .box-fourty {
        flex-basis: 38%;
    }
    .box-twenty {
        flex-basis: 18%;
    }
    .box-full {
        flex-basis: 100%;
    }

    .data-container {
        padding: 30px;
        margin: 10px 0;
        background-color: white;
        width: 100%;

        border-radius: 8px;

        -webkit-box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
        -moz-box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
        box-shadow: 0px 3px 15px rgba(0,0,0,0.2);

        .recharts-wrapper {
            margin: auto;
        }

        .data-pie {
            .recharts-wrapper { //piechart
                text-align: center;
                margin: -80px auto;
            }
        }

        
        h3 {
            font-size: 20px;
        }
        p {
            font-size: 16px;
        }

        .inline-charts {
            width: 100%;
            display: flex;
            flex-direction: row;
            overflow-x: scroll;
        }

    }
    @media screen and (max-width: 800px) {
        [class^="box"], .data-container {
            flex-basis: 100%;
        }
    }
    @media screen and (max-width: 400px) {
        .data-container {
            padding: 30px 0;
            .graph-container { margin: 0;}
            .chartjs-render-monitor{
                height: 300px !important;
            }
        }
    }
}