.plaid-buttons {
    text-align: right;
    padding: 10px 50px 0;

    button {
        width: 100px;
        margin: 0 10px;
        height: 30px;
        padding: 6px 4px;
        outline: none;
        background: rgb(255, 255, 255);
        border: 2px solid rgb(241, 241, 241);
        border-radius: 4px;
        cursor: pointer;
        pointer-events: all;

        &:hover {
            background-color: darken(rgb(255, 255, 255),10);
        }
    }
}

.dashboard-main {
    // border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .data-container {
        padding: 30px;
        margin: 10px 0;
        flex-basis: 48%;
        background-color: white;

        .graph-container {
            margin: 0 -30px;

            canvas {
                max-width: 100%;
                height: auto;
               
            }
        }
        
        h3 {
            font-size: 20px;
        }
        p {
            font-size: 16px;
        }

    }
    @media screen and (max-width: 800px) {
        .data-container {
            flex-basis: 100%;
        }
    }
    @media screen and (max-width: 400px) {
        .data-container {
            padding: 30px 0;
            .graph-container { margin: 0;}
            .chartjs-render-monitor{
                height: 300px !important;
            }
        }
    }
}