.dashboard {
    border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .data-container {
        border: 1px solid blue;
        padding: 30px;
        flex-basis: 50%;

        .graph-container {
            margin: 0 -30px;

            canvas {
                max-width: 100%;
                height: auto;
               
            }
        }
        

        h3 {
            font-size: 20px;
        }
        p {
            font-size: 16px;
        }

    }
    @media screen and (max-width: 800px) {
        .data-container {
            flex-basis: 100%;
        }
    }
    @media screen and (max-width: 400px) {
        .data-container {
            padding: 30px 0;
            .graph-container { margin: 0;}
            .chartjs-render-monitor{
                height: 300px !important;
            }
        }
    }
}