#products {
    height: 100vh;
    text-align: left;

    &.gradient {
        background-image: linear-gradient($primary-blue, 30%, $primary-purple);
    }
    height: 100%;

    .curvy-border {
        height: 90%;  
        border-radius: 100%/0 0 100px 100px;
        box-shadow: 0px 6px 0px white;
        background-color: white;
    }

    .products-list {
        margin-top: 30px;

        a {
            text-decoration: none;
        }

        .product {
            border: 1px solid;
            flex-basis: 30%;
            cursor: pointer;
            color: black;

            padding: 30px;

            text-align: center;

            img { 
                width: 100%; 
                max-width: 100px;
            }
            
            .product-title {
                margin: 20px 0;
                font-size: 1.2em;
                font-weight: bolder;
            }

            p { font-size: 14px;}

            &:hover {
                // border: 1px solid grey;
                box-shadow: 10px 10px 8px $hover-grey;
            }

            .learn-more {
                margin-top: 30px;
            }
        }
    }


    .product-deeper {
        display: flex;
        justify-content: space-between;

        height: 500px;

        .img-wrapper img { 
            max-width: 300px;
            box-shadow: 40px -40px $primary-blue;
        }

        .desc {
            flex-basis: 50%;
        }

        
    }

    .call-to-action {
        background: none;
        color: white;

        h2 { color: white;}
    }
    
}