.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  /* font-size: calc(10px + 2vmin); */
  font-size: calc(40px + 2vmin);
  /* color: white; */
}

.App-link {
  color: #61dafb;
}

/* WELCOME PAGE */
.all-info{
  width: 70%;
  /* background-color: blue; */
  margin: 0 auto;
}
.refinance-info{
  width: 80%;
  margin: 0 auto;
  position: relative;
  /* display: grid; */
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  /* background-color: #2196F3; */
  padding: 10px;
}
.refinance-info img{
  width: 100%;
  display:relative;
  background-color: yellow;
}
.refinance-left-info {
  /* background-color: blue; */
  position: relative;
  /* display: inline-block; */
  /* width: 100%; */
  /* height: 100%; */
  justify-content: center;
  padding-top: 100px;
}

.refinance-second-info{
  text-align: left
}
