#stepper {
    color: $primary-blue;

    .step {
        border: 5px solid $hover-grey;
        display: flex;
        flex-direction: column;
        text-align: left;

        padding: 30px 10px;


        
        .stepper-img {
            img {
                width: 60px;
            }
        }

        &:hover {
            border: 1px solid $primary-blue;
        }
        
        
    }

    
}