h1.ui-header {
  margin-top: 15px;
}

/* WELCOME PAGE */
.all-info{
  width: 70%;
  /* background-color: blue; */
  margin: 0 auto;
}
.refinance-info{
  width: 80%;
  margin: 0 auto;
  position: relative;
  /* display: grid; */
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  /* background-color: #2196F3; */
  padding: 10px;
}
.refinance-info img{
  width: 100%;
  display:relative;
  background-color: yellow;
}
.refinance-left-info {
  /* background-color: blue; */
  position: relative;
  /* display: inline-block; */
  /* width: 100%; */
  /* height: 100%; */
  justify-content: center;
  padding-top: 100px;
}

.refinance-second-info{
  text-align: left
}

div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  /* background-color:white; */
  /* padding: 50px; */
  /* font-size: 20px; */
  z-index: 2;
}