.container {
    max-width: 1000px;
    margin: 0 auto;
    border: 1px solid red;
    padding: 10px;
}

.flex-box {
    display: flex;

    &.two-items {
        .item {
            border: 1px solid blue;
            flex-basis: 50%;
            flex-grow: 1;
        }
        .item~.item {
            margin-left: 30px;
        }
    }
}

section {
    margin: 80px 0;
}

p {
    line-height: 1.4em;

}