.container {
    max-width: 1000px;
    margin: 0 auto;
    // border: 1px solid red;
    padding: 10px;

    &.tight {
        max-width: 800px;
    }
    &.tigher{
        max-width: 600px;
    }
}

.flex-box {
    display: flex;

    &.two-items {
        margin-left: -30px;
        margin-right: -30px;

        .item {
            flex-basis: 50%;
            flex-grow: 1;
        }
        .item {
            margin: 30px;
        }
    }
    &.four-items {
        margin-left: -30px;
        margin-right: -30px;

        .item {
            flex-basis: 25%;
            flex-grow: 1;
        }
        .item {
            margin: 30px;
        }
    }
    
}

section {
    padding: 80px 0;
}

p {
    line-height: 1.4em;

}

.ui.button.primary-button {
    background-color: $primary-blue;
    color: white;
    padding: 8px 20px;

    border-radius: 16px;

    &:hover, &.active {
            background-color: $primary-purple;
    }

    &.bigger {
        margin: 30px 0;
        padding: 15px 30px;
        border-radius: 30px;
        font-size: 1.5em;

        @media screen and (max-width: $mobileBP) {
            width: 80%;
            font-size: 16px;
        }
    }
}