@import './partials/variables';
@import './partials/typography';
@import './app';
@import './navbar';

@import './welcome/main';
@import './welcome/call-to-action';
@import './welcome/stepper';

body {
    margin: 10px, 40px, 0px;
    text-align: center;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-family: 'Montserrat', sans-serif;
}
